# eclipse
.settings
.metadata
.classpath
.project
.xml
eclipse
bin
*.launch

# idea
.idea/*
!.idea/runConfigurations/
out
*.ipr
*.iws
*.iml

# gradle
.gradle
build

# other
run/*
!run

# maven
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/HMCL/*
